# Configuration file

"balance settings" {
    I:bagStackSize=512
    D:bitLightPercentage=6.25
    B:compatabilityMode=true
    B:damageTools=true
    I:diamondChiselUses=796480
    I:diamondSawUses=7980
    B:enableBitLightSource=true
    B:enableChiselToolHarvestCheck=true
    S:enableChiselToolHarvestCheckTools=pickaxe,axe,shovel
    B:enableSetBitCommand=false
    B:enableToolHarvestLevels=true
    B:fullBlockCrafting=true
    I:goldChiselUses=1024
    I:ironChiselUses=293440
    D:maxDrawnRegionSize=4.0
    I:stoneChiselUses=8384
    I:wrenchUses=1888
}


"client performance settings" {
    B:defaultToDynamicRenderer=false
    I:dynamicMaxConcurrentTessalators=32
    I:dynamicModelFaceCount=40
    B:dynamicModelMinimizeLatancy=true
    I:dynamicModelRange=128
    B:dynamicRenderFullChunksOnly=true
    B:forceDynamicRenderer=false
    I:maxMillisecondsPerBlock=10
    I:maxMillisecondsUploadingPerFrame=15
    I:minimizeLatancyMaxTime=100
    S:useVBO=AUTOMATIC
}


"client settings" {
    B:addBrokenBlocksToCreativeClipboard=true
    B:chatModeNotification=false
    I:creativeClipboardSize=32
    B:displayMeasuringTapeInChat=false
    B:enableChiselMode_ConnectedMaterial=true
    B:enableChiselMode_ConnectedPlane=true
    B:enableChiselMode_DrawnRegion=true
    B:enableChiselMode_LargeCube=true
    B:enableChiselMode_Line=true
    B:enableChiselMode_MediumCube=true
    B:enableChiselMode_Plane=true
    B:enableChiselMode_SameMaterial=true
    B:enableChiselMode_SmallCube=true
    B:enableChiselMode_Snap2=true
    B:enableChiselMode_Snap4=true
    B:enableChiselMode_Snap8=true
    B:enablePositivePatternMode_Additive=true
    B:enablePositivePatternMode_Impose=true
    B:enablePositivePatternMode_Placement=true
    B:enablePositivePatternMode_Replace=true
    B:enableRightClickModeChange=false
    B:enableTapeMeasure_Bit=true
    B:enableTapeMeasure_Block=true
    B:enableTapeMeasure_Distance=true
    B:enableToolbarIcons=true
    B:fluidBitsAreClickThrough=true
    B:invertBitBagFullness=false
    B:itemNameModeDisplay=true
    I:maxTapeMeasures=5
    I:maxUndoLevel=32
    B:perChiselMode=true
    B:persistCreativeClipboard=true
    D:radialMenuVolume=0.10000000149011612
    B:showUsage=true
}


crafting {
    B:enableChiselCrafting=true
    B:enableNegativePrintInversionCrafting=true
    B:enablePositivePrintCrafting=true
    B:enableStackableCrafting=true
}


"enabled blocks" {
    B:WayofTime.bloodmagic.block.BlockBloodRune=true
    B:WayofTime.bloodmagic.block.BlockBloodStoneBrick=true
    B:WayofTime.bloodmagic.block.BlockCrystal=true
    B:WayofTime.bloodmagic.block.BlockDemonBase=true
    B:WayofTime.bloodmagic.block.BlockDemonLight=true
    B:WayofTime.bloodmagic.block.BlockDemonPillarBase=true
    B:WayofTime.bloodmagic.block.BlockDemonPillarCapBase=true
    B:WayofTime.bloodmagic.block.BlockPath=true
    B:WayofTime.bloodmagic.block.BlockRitualStone=true
    B:alsender.earthworks.block.Block_Chalk=true
    B:alsender.earthworks.block.Block_Gabion=true
    B:alsender.earthworks.block.Block_Planks_Vert=true
    B:alsender.earthworks.block.Block_Wood_Shingle=true
    B:alsender.earthworks.block.ModBlock=true
    B:alsender.earthworks.block.ModBlockFacing=true
    B:alsender.earthworks.block.ModRotatedPillar=true
    B:alsender.earthworks.block.timber.Daub_Cob=true
    B:alsender.earthworks.block.timber.Plaster=true
    B:betterwithaddons.block.BetterRedstone.BlockPCB=true
    B:betterwithaddons.block.BlockColoredBrick=true
    B:betterwithaddons.block.BlockModLog=true
    B:betterwithaddons.block.BlockModPlanks=true
    B:betterwithaddons.block.BlockPavement=true
    B:betterwithaddons.block.BlockSoap=true
    B:betterwithaddons.block.BlockWhiteBrick=true
    B:betterwithaddons.block.BlockWorldScale=true
    B:betterwithaddons.block.BlockWorldScaleOre=true
    B:betterwithaddons.block.EriottoMod.BlockIronSand=true
    B:betterwithaddons.block.EriottoMod.BlockKera=true
    B:betterwithmods.common.blocks.BlockAesthetic=true
    B:betterwithmods.common.blocks.BlockBUD=true
    B:betterwithmods.common.blocks.BlockBrokenGearbox=true
    B:betterwithmods.common.blocks.BlockDebarkedNew=true
    B:betterwithmods.common.blocks.BlockDebarkedOld=true
    B:betterwithmods.common.blocks.BlockStump=true
    B:betterwithmods.common.blocks.BlockWolf=true
    B:"blusunrize.immersiveengineering.common.IEContent$1"=true
    B:blusunrize.immersiveengineering.common.blocks.BlockIEBase=true
    B:charcoalPit.blocks.BlockCoke=true
    B:charcoalPit.blocks.BlockLogPile=true
    B:com.Cobbs.cavecraft.Blocks.basicBlocks.basicBlock=true
    B:com.Cobbs.cavecraft.Blocks.basicBlocks.caveDirt=true
    B:com.Cobbs.cavecraft.Blocks.basicBlocks.caveLog=true
    B:com.bafomdad.uniquecrops.blocks.BlockOldGravel=true
    B:com.bafomdad.uniquecrops.blocks.BlockOldStone=true
    B:com.beyondrealitygaming.core.block.BRBlock=true
    B:com.beyondrealitygaming.core.block.BROre=true
    B:com.beyondrealitygaming.core.block.BRUnbreakeableBlock=true
    B:com.bobmowzie.mowziesmobs.server.block.BlockPaintedAcacia=true
    B:com.google.rohzek.simplefoods.blocks.SPMelon=true
    B:com.google.rohzek.simplefoods.blocks.SPOres=true
    B:com.jaquadro.minecraft.storagedrawers.block.BlockTrim=true
    B:flaxbeard.immersivepetroleum.common.blocks.BlockIPBase=true
    B:"forestry.apiculture.blocks.BlockHoneyComb$1"=true
    B:"forestry.arboriculture.blocks.BlockArbLog$1"=true
    B:"forestry.arboriculture.blocks.BlockArbPlanks$1"=true
    B:forestry.arboriculture.blocks.BlockCharcoal=true
    B:"forestry.arboriculture.blocks.BlockFireproofVanillaLog$1"=true
    B:"forestry.arboriculture.blocks.BlockFireproofVanillaPlanks$1"=true
    B:forestry.arboriculture.blocks.BlockLoam=true
    B:forestry.core.blocks.BlockResourceOre=true
    B:forestry.core.blocks.BlockResourceStorage=true
    B:fox.spiteful.avaritia.blocks.BlockDoubleCraft=true
    B:fox.spiteful.avaritia.blocks.BlockTripleCraft=true
    B:futurepack.common.block.BlockColorPlasmaLamp=true
    B:futurepack.common.block.BlockErze=true
    B:futurepack.common.block.BlockWirelessRedstoneReceiver=true
    B:futurepack.common.block.BlockWirelessRedstoneTransmitter=true
    B:futurepack.common.block.deco.BlockDekoMeta=true
    B:futurepack.common.block.deco.BlockErzeBlocke=true
    B:futurepack.common.block.deco.BlockErzeBlocke2=true
    B:futurepack.common.block.deco.BlockNeonBricks=true
    B:futurepack.common.block.deco.BlockQuantanium=true
    B:futurepack.common.block.terrain.BlockFpDirt=true
    B:futurepack.common.block.terrain.BlockFpGravel=true
    B:futurepack.common.block.terrain.BlockFpPlanks=true
    B:futurepack.common.block.terrain.BlockFpSand=true
    B:futurepack.common.block.terrain.BlockFpStone=true
    B:futurepack.common.block.terrain.BlockHugeMycel=true
    B:hellfirepvp.astralsorcery.common.block.BlockBlackMarble=true
    B:hellfirepvp.astralsorcery.common.block.BlockCustomOre=true
    B:hellfirepvp.astralsorcery.common.block.BlockCustomSandOre=true
    B:hellfirepvp.astralsorcery.common.block.BlockMarble=true
    B:ic2.core.block.BlockMultiID=true
    B:ic2.core.block.BlockTexGlass=true
    B:ic2.core.block.BlockWall=true
    B:ic2.core.block.machine.BlockMiningPipe=true
    B:ivorius.reccomplex.block.BlockGenericSolid=true
    B:knightminer.ceramics.blocks.BlockClayHard=true
    B:knightminer.ceramics.blocks.BlockClaySoft=true
    B:knightminer.ceramics.blocks.BlockStained=true
    B:li.cil.oc.common.block.ChameliumBlock=true
    B:li.cil.oc.common.block.FakeEndstone=true
    B:mcjty.deepresonance.blocks.MachineFrame=true
    B:mcjty.deepresonance.blocks.ore.DenseObsidianBlock=true
    B:mcjty.deepresonance.blocks.ore.ResonatingOreBlock=true
    B:mcjty.deepresonance.blocks.poisondirt.PoisonedDirtBlock=true
    B:mcjty.deepresonance.blocks.radiationsensor.RadiationSensorBlock=true
    B:mcjty.rftools.blocks.MachineBase=true
    B:mcjty.rftools.blocks.MachineFrame=true
    B:mcjty.rftools.blocks.ores.DimensionalShardBlock=true
    B:mcjty.rftools.blocks.teleporter.DestinationAnalyzerBlock=true
    B:mcjty.rftools.blocks.teleporter.MatterBoosterBlock=true
    B:mcjty.xnet.blocks.redstoneproxy.RedstoneProxyBlock=true
    B:me.dmillerw.storage.block.BlockCrate=true
    B:me.dmillerw.storage.block.BlockGravityInducer=true
    B:me.dmillerw.storage.block.BlockItemizer=true
    B:mekanism.common.block.BlockOre=true
    B:mekanism.common.block.BlockPlastic=true
    B:mekanism.common.block.BlockSalt=true
    B:nc.block.BlockIngot=true
    B:nc.block.BlockOre=true
    B:nc.block.NCBlock=true
    B:nc.block.fission.BlockCooler=true
    B:nc.block.fission.BlockFission=true
    B:net.blay09.mods.cookingforblockheads.block.BlockKitchenFloor=true
    B:net.malisis.doors.block.RustyLadder=true
    B:net.minecraft.block.Block=true
    B:net.minecraft.block.BlockBone=true
    B:net.minecraft.block.BlockBookshelf=true
    B:net.minecraft.block.BlockClay=true
    B:net.minecraft.block.BlockColored=true
    B:net.minecraft.block.BlockCompressedPowered=true
    B:net.minecraft.block.BlockDirt=true
    B:net.minecraft.block.BlockGlass=true
    B:net.minecraft.block.BlockGlowstone=true
    B:net.minecraft.block.BlockGrass=true
    B:net.minecraft.block.BlockGravel=true
    B:net.minecraft.block.BlockHardenedClay=true
    B:net.minecraft.block.BlockHay=true
    B:net.minecraft.block.BlockHugeMushroom=true
    B:net.minecraft.block.BlockIce=true
    B:net.minecraft.block.BlockMelon=true
    B:net.minecraft.block.BlockNetherBrick=true
    B:net.minecraft.block.BlockNetherrack=true
    B:net.minecraft.block.BlockNewLeaf=true
    B:net.minecraft.block.BlockNewLog=true
    B:net.minecraft.block.BlockObserver=true
    B:net.minecraft.block.BlockObsidian=true
    B:net.minecraft.block.BlockOldLeaf=true
    B:net.minecraft.block.BlockOldLog=true
    B:net.minecraft.block.BlockOre=true
    B:net.minecraft.block.BlockPackedIce=true
    B:net.minecraft.block.BlockPlanks=true
    B:net.minecraft.block.BlockPrismarine=true
    B:net.minecraft.block.BlockQuartz=true
    B:net.minecraft.block.BlockRedSandstone=true
    B:net.minecraft.block.BlockRedstoneLight=true
    B:net.minecraft.block.BlockRedstoneOre=true
    B:net.minecraft.block.BlockRotatedPillar=true
    B:net.minecraft.block.BlockSand=true
    B:net.minecraft.block.BlockSandStone=true
    B:net.minecraft.block.BlockSeaLantern=true
    B:net.minecraft.block.BlockSilverfish=true
    B:net.minecraft.block.BlockSlime=true
    B:net.minecraft.block.BlockSnowBlock=true
    B:net.minecraft.block.BlockSponge=true
    B:net.minecraft.block.BlockStainedGlass=true
    B:net.minecraft.block.BlockStone=true
    B:net.minecraft.block.BlockStoneBrick=true
    B:net.minecraft.block.BlockWorkbench=true
    B:nmd.primal.core.common.blocks.plants.trees.WoodLog=true
    B:nmd.primal.core.common.blocks.plants.trees.WoodPlank=true
    B:nmd.primal.core.common.blocks.soil.AshBlock=true
    B:nmd.primal.core.common.blocks.soil.AshStabilized=true
    B:nmd.primal.core.common.blocks.soil.EarthWax=true
    B:nmd.primal.core.common.blocks.soil.NetherWax=true
    B:nmd.primal.core.common.blocks.soil.Solum=true
    B:nmd.primal.core.common.blocks.soil.TerraClay=true
    B:nmd.primal.core.common.blocks.stone.CarbonateStone=true
    B:nmd.primal.core.common.blocks.stone.Ferrum=true
    B:nmd.primal.core.common.blocks.stone.OreDensity=true
    B:nmd.primal.core.common.blocks.stone.Saxum=true
    B:noelflantier.bigbattery.common.blocks.BlockEnrichedClay=true
    B:noelflantier.bigbattery.common.blocks.BlockMetals=true
    B:noelflantier.bigbattery.common.blocks.BlockOres=true
    B:noppes.vc.blocks.BlockPlaceholder=true
    B:"org.cyclops.evilcraft.block.BloodWaxedCoalBlockConfig$1"=true
    B:"org.cyclops.evilcraft.block.BloodyCobblestoneConfig$1"=true
    B:org.cyclops.evilcraft.block.DarkBlock=true
    B:org.cyclops.evilcraft.block.DarkBloodBrick=true
    B:"org.cyclops.evilcraft.block.DarkBrickConfig$1"=true
    B:org.cyclops.evilcraft.block.DarkPowerGemBlock=true
    B:org.cyclops.evilcraft.block.HardenedBlood=true
    B:org.cyclops.evilcraft.block.LightningBomb=true
    B:org.cyclops.evilcraft.block.NetherfishSpawn=true
    B:"org.cyclops.evilcraft.block.UndeadLogConfig$1"=true
    B:"org.cyclops.evilcraft.block.UndeadPlankConfig$1"=true
    B:rustic.common.blocks.BlockBase=true
    B:rustic.common.blocks.BlockClayWallDiag=true
    B:rustic.common.blocks.BlockFertileSoil=true
    B:rustic.common.blocks.BlockLogRustic=true
    B:rustic.common.blocks.BlockPillar=true
    B:rustic.common.blocks.BlockPlanksRustic=true
    B:"team.chisel.Features$18$1"=true
    B:"team.chisel.Features$29$1"=true
    B:"team.chisel.Features$30$1"=true
    B:"team.chisel.Features$31$1"=true
    B:"team.chisel.Features$48$1"=true
    B:"team.chisel.Features$56$1"=true
    B:"team.chisel.Features$6$1"=true
    B:"team.chisel.Features$72"=true
    B:"team.chisel.Features$9$1"=true
    B:team.chisel.common.block.BlockCarvable=true
    B:team.chisel.common.block.BlockCarvableAltarComponent=true
    B:team.chisel.common.block.BlockCarvableCarpet=true
    B:team.chisel.common.block.BlockCarvableFalling=true
    B:team.chisel.common.block.BlockCarvableTranquility=true
    B:teamroots.embers.block.BlockBase=true
    B:teamroots.embers.block.BlockQuartzOre=true
    B:totemic_commons.pokefenn.block.BlockCedarLog=true
    B:totemic_commons.pokefenn.block.BlockCedarPlank=true
    B:vazkii.botania.common.block.BlockDreamwood=true
    B:vazkii.botania.common.block.BlockFelPumpkin=true
    B:vazkii.botania.common.block.BlockLivingrock=true
    B:vazkii.botania.common.block.BlockLivingwood=true
    B:vazkii.botania.common.block.BlockManaBomb=true
    B:vazkii.botania.common.block.BlockRoot=true
    B:vazkii.botania.common.block.BlockStorage=true
    B:vazkii.botania.common.block.decor.BlockBlaze=true
    B:vazkii.botania.common.block.decor.BlockCustomBrick=true
    B:vazkii.botania.common.block.decor.BlockElfGlass=true
    B:vazkii.botania.common.block.decor.BlockManaGlass=true
    B:vazkii.botania.common.block.decor.BlockPavement=true
    B:vazkii.botania.common.block.decor.BlockPetalBlock=true
    B:vazkii.botania.common.block.decor.BlockShimmerrock=true
    B:vazkii.botania.common.block.decor.BlockShimmerwoodPlanks=true
    B:vazkii.botania.common.block.decor.biomestone.BlockBiomeStoneA=true
    B:vazkii.botania.common.block.decor.biomestone.BlockBiomeStoneB=true
    B:vazkii.botania.common.block.decor.quartz.BlockSpecialQuartz=true
    B:vazkii.botania.common.block.mana.BlockAlchemyCatalyst=true
    B:vazkii.botania.common.block.mana.BlockConjurationCatalyst=true
    B:vswe.stevescarts.blocks.BlockMetalStorage=true
}


"integration settings" {
    B:ShowBitsInJEI=false
}


items {
    B:enableBitBag=true
    B:enableBitSaw=true
    B:enableBitTank=true
    B:enableChisledBits=true
    B:enableDiamondChisel=true
    B:enableGoldChisel=true
    B:enableIronChisel=true
    B:enableMirrorPrint=true
    B:enableNegativePrint=true
    B:enablePositivePrint=true
    B:enableStoneChisel=true
    B:enableTapeMeasure=true
    B:enableWoodenWrench=true
}


troubleshooting {
    B:enableAPITestingItem=false
    B:logTileErrors=false
}


