# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General configuration
##########################################################################################################

general {
}


tooltip {
    # Set this to true if you like to get extended tooltips. [default: true]
    B:enabled=true
}


waila {
    # Set this to true to enable the built-in WAILA plugin. [default: true]
    B:enabled=true

    # Set this to true to always show harvestability. [default: false]
    B:show_harvestable=false
}


